MONGODB_URI=mongodb://localhost:27017/notes-api
JWT_SECRET=97868e49f9756380d2d207ea5de65926515ddc194bd7c414f385993d6e70862
PORT=5000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,https://myproductionapp.com
NODE_ENV=development
TOKEN_EXPIRY_AT=7d